
/* css */


body{
  font-family: 'Stick No Bills', sans-serif;
}

h1 {
  font-size: 90pt;
  margin-top: 200px;
}

a {
  text-decoration: none;
  color: black;
}

.box {
  width: 100%;
  height: auto;
  border: solid 3pt black;
  margin-bottom: 50px;
}

.orb {
  height: 66px;
  background: white;
  border: solid 3pt black;
  border-radius: 23px;
}

h2 {
  line-height: 60px;
}

.top{
  margin-top: 100px;
}

.fourth{
  margin-bottom: 100px;
}

.orb {
  margin: 5px;
}

.orb:hover {
  background: #FFBF5F;
  color: black;
}

.orb:active {
  background: #FF9900;
}

.head{
  height: auto;
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.cookies, .hot_choc{
    background: rgba(138, 102, 60, 0.74);
}

.icecream{
    background: rgba(248, 165, 224, 0.74);
}

.coffee_cake{
    background: rgba(230, 163, 63, 0.74);
}

.banana_bread{
    background: rgba(220, 211, 6, 0.6);
}

.lava_cake{
    background: rgba(46, 28, 6, 0.74);
}

.pineapple{
    background: rgba(230, 174, 37, 0.74);
}

.apple_pie{
    background: rgba(255, 8, 0, 0.74);
}

.dirt_worms{
    background: rgba(103, 255, 79, 0.74);
}

.funfetti{
    background: linear-gradient(90deg, rgba(255, 255, 0, 0.64), rgba(255, 0, 0, 0.64), rgba(255, 127, 0, 0.64), rgba(0, 255, 0, 0.64), rgba( 0, 0, 255, 0.64), rgba(75, 0, 130, 0.64),rgba(255, 255, 0, 0.64));
}

.eight{
    background: rgba(63, 190, 229, 0.74);
}

.caramel{
    background: rgba(197, 115, 61, 0.74);
}

.snickerdoodle{
    background: rgba(210, 105, 19, 0.74);
}

.strawberry{
    background: rgba(252, 90, 141, 0.74);
}

.two_minute{
    background: rgba(239, 226, 178, 0.74);
}

.creme{
    background: rgba(186, 89, 0, 0.74);
}

.bake-titles{
  font-size: 80pt;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.bake-subtitles{
  font-size: 30pt;
  color: black;
  text-align: center;
}

.recipe {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 40pt;
  text-align: center;
}

ol, ul {
  font-size: 20pt;
  list-style-position: outside;
}

li{
  text-align: left;
}

iframe {
  padding-top: 100px;
  position: relative;
  align-items: center;
}

.home{
  text-align: center;
  background: white;
  border: solid 3pt black;
  border-radius: 23px;
  margin-bottom: 50px;
}

h4{
  text-align: left;
  font-weight: bolder;
  font-size: 30pt;
}
